{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
  'region region__outline',
  'region-' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <!-- Nav pills -->
    <ul class="nav nav-pills nav-cttdt-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#chi-dao-dh">{{ 'Thông tin chỉ đạo điều hành'|t }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#cs-moi">{{ 'Chính sách mới'|t }}</a>
      </li>
    </ul>

    {#<!-- Tab panes -->#}
    <div class="tab-content tab-content__cttdt">
      <div id="chi-dao-dh" class="container tab-pane active"><br>
        {{ drupal_entity('block', 'views_block__tin_tuc_su_kien_box_block_ttcd_dieu_hanh') }}
      </div>
      <div id="cs-moi" class="container tab-pane fade"><br>
        {{ drupal_entity('block', 'views_block__tin_tuc_su_kien_box_block_cs_moi') }}
      </div>
    </div>
  </div>

  <div class="d-block d-md-none">
    {{ drupal_entity('block', 'thuvienanhvideoblock') }}
  </div>
  <div class="region__outline">
    {{ drupal_entity('block', 'box_mot_cua_dientu') }}
  </div>
  <div class="m-vbdt d-block d-md-none">
    {{ drupal_entity('block', 'box_van_ban_dien_tu') }}
  </div>
  <div class="m-bannerqcblue d-block d-md-none no-gutters">
    {{ drupal_entity('block', 'bannerqctextblue') }}
  </div>
{% endif %}
